/**
* @name Porter
* @description Porter Robinson theme
* @author Cedrick	
* @version 0.0.3
*/

@import url("https://cedrickzedd.github.io/porter/lightmodeBeGone.css");

/*   Theme transparency values for dark mode   */


.theme-dark{
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --pr-bg: url('https://ze-robot.com/images/source/34606.jpg') center/cover no-repeat;
}

.theme-light{
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --pr-bg: url('https://ze-robot.com/images/source/34606.jpg') center/cover no-repeat;
}
.base-2jDfDU{
	background:rgba(0, 0, 0, 0.5)
}
.applicationStore-2nk7Lo, .container-2cd8Mz{background-color:transparent}
/*
.form-3gdLxP {
    height: 0px !important;
    overflow: hidden;
}
/*Deletes everything light theme so users are forced to re enable dark theme*/



/**/



.base-2jDfDU{margin-right:20px; margin-bottom:10px; border-radius:8px!important;}


/*Deletes bloat*/

.searchBar-3TnChZ, [href="https://support.discord.com"], .searchBar-2aylmZ.container-2oNtJn.medium-2NClDM{display:none;}

.content-1gYQeQ >div, .theme-dark .children-3xh0VB:after, .theme-dark .form-3gdLxP:before, .content-1jQy2l:before{display:none;}

.header-3OsQeK{box-shadow:unset;}
/**/
.base-2jDfDU{backdrop-filter:blur(2px);}

#app-mount{background:var(--pr-bg)}


body, .members-3WRCEx, .members-3WRCEx>div{background-color:transparent;}





.standardSidebarView-E9Pc3j{background-color:rgba(0, 0, 0, 0.5);}








